<div class="home-margin">
<div>
  <h2>Introduction</h2>
  <p>
      This is a small application to see Appointments based on different months.
      Click on the calendar option from the menu to see the appointments.
  <br><br>
  The project has been created using the <b>.Net Core Web API</b>
  (Dependency Injection — Auto Mapper — Repository Pattern – Entity Framework In-Memory),
  <b>Angular 10+</b> as frontend.

  </p>
</div>
<div class="home-div-margin">
  <h2>Documentation</h2>
  <p>You can check the detailed description regarding the application from the document.
    Click the link below to download the document.</p>
    <b></b><a href="/assets/AnujAngooral_Calendar_Coding_Task.pdf" target="_blank"> AnujAngooral_Calendar_Coding_Task.pdf
  </a>
</div>
<div class="home-div-margin">
  <h2>ReadMe File</h2>
  <p>You can check application installation and setup details from the README file.
    Either click or copy & paste below link in the browser to open the file.</p>
  <b>URL:</b><a href="https://github.com/AnujAngooral/CalendarManagement/blob/main/README.md" target="_blank"> https://github.com/AnujAngooral/CalendarManagement/blob/main/README.md
  </a>
</div>
</div>
